<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lazurefunctionsample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5395076-741a-4ebb-bba8-b25d2034a02f/resourceGroups/Azure_Function_Samples/providers/Microsoft.Web/sites/LAzureFunctionSample</ResourceId>
    <UserName>$LAzureFunctionSample</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://lazurefunctionsample.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>